.details {
  border-bottom: 1px dashed #e5e5e5;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.details .details-title {
  font-size: 1em;
  line-height: 40px;
  color: #666;
}
.details .details-info {
  line-height: 40px;
  margin-right: 20px;
  font-size: 0.8em;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
.thumbnail .caption-full {
  padding: 9px;
  margin-top: 10px;
  color: #333;
}
