.article-list .thumbnail .caption {
  position: relative;
  z-index: 40;
}
.caption {
  min-height: 165px;
}

.article-list .thumbnail img {
  width: 100%;
}
.articles .article-list {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.itemButton {
  margin-top: 20px;
  text-align: center;
}
.itemButton .btn-outline-secondary {
  border: 1px solid #dee2e6;
}
.article-price {
  display: flex;
  justify-content: flex-end;
}
.article-list .thumbnail {
  padding-bottom: 50px;
}
.short-description {
  font-size: smaller;
  color: grey;
}
