body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.well {
  background-color: #f3f1f1;
  margin-top: 10px;
  padding: 20px 10px 10px 10px;
  border-radius: 0 0 4px 4px;
}
.blosd button {
  cursor: default;
}
.lead {
  color: #6f6f6f;
  font-weight: bold;
  padding-left: 2px;
}
.pt20 {
  padding-top: 20px;
}
.cart {
  margin: 20px auto 10px;
}
.cart input {
  text-align: right;
}
.dropdown span {
  font-size: 16px;
}
.dropdown .btn-inverse {
  background: #50a8e1;
  border: 1px solid #2d6898;
}
.dropdown .btn-inverse:hover {
  background: rgba(80, 168, 225, 0.9);
}

.article-list .thumbnail .caption {
  position: relative;
  z-index: 40;
}
.caption {
  min-height: 165px;
}

.article-list .thumbnail img {
  width: 100%;
}
.articles .article-list {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.itemButton {
  margin-top: 20px;
  text-align: center;
}
.itemButton .btn-outline-secondary {
  border: 1px solid #dee2e6;
}
.article-price {
  display: flex;
  justify-content: flex-end;
}
.article-list .thumbnail {
  padding-bottom: 50px;
}
.short-description {
  font-size: smaller;
  color: grey;
}

.details {
  border-bottom: 1px dashed #e5e5e5;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.details .details-title {
  font-size: 1em;
  line-height: 40px;
  color: #666;
}
.details .details-info {
  line-height: 40px;
  margin-right: 20px;
  font-size: 0.8em;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
.thumbnail .caption-full {
  padding: 9px;
  margin-top: 10px;
  color: #333;
}
.item-checkout .first-column-checkout {
  width: 12%;
}
.item-checkout td {
  border-bottom: 1px solid #ddd;
  border-top: none !important;
  text-align: center;
  vertical-align: middle !important;
}
.item-checkout .delete-cart {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.item-checkout .delete-cart {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #e66868;
}
.total-user-checkout {
  margin-right: 20px;
  margin-top: 15px;
}
.table-bordered {
  border-collapse: separate;
  border-radius: 4px;
}
.delete-cart {
  display: block;
  height: 16px;
  width: 16px;
}
.delete-cart:hover {
  cursor: pointer;
}

.logo-image {
  margin: 0 5px 10px 30px;
  max-height: 70px;
  width: auto;
}
.logo-name {
  font-size: 42px;
}
